@import 'styles/variables.scss';

.dark {
  --background-color: black;
  --main-font: sans-serif;
  --font-color: white;
  --paragraph-font: sans-serif;
  --paragraph-color: #ffffffb3;
  --main-color: #0266ff;
}

:root {
  --background-color: #FFF;
  --main-font: sans-serif;
  --font-color: #000;
  --paragraph-font: sans-serif;
  --paragraph-color: #666263;
  --main-color: #FFF;
}

//@font-face {
//    font-family: "NeueMachina-Light";
//    src: url("static/fonts/NeueMachina-Light.otf");
//  }

  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(66, 66, 66, 0.3);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: rgba(66, 66, 66, 0.5);
  }
  
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: NeueMachina-Regular, serif;
    vertical-align: baseline;
  }
  
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  * {
    box-sizing: border-box;
    -moz-user-select: none; /* firefox */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE*/
    user-select: none; /* Standard syntax */
  }
  
  body {
    margin: 0 auto;
  
    background: var(--background-color);
  
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
  
    overflow-x: hidden;
  
    font-family: NeueMachina-Regular, serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }
  
  p {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    text-transform: none;
    color: inherit;
    cursor: pointer;
  }
  
  button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  textarea {
    outline: none;
  }
  
  input {
    outline: none;
    margin: 0;
    border: none;
  }
  
  input ::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  input[type='number'] {
    appearance: textfield;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
  }
  
  li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }